<div class="container">
    <div class="row">
        <div class="issues-solved item">
            <span>Issues <br> Solved <br> 23</span>
        </div>
        <div class="item title">
            <h1>
                <fa-icon class="faCogs" [icon]='faCogs'></fa-icon>Resolutions
            </h1>

        </div>
        <app-logout-btn></app-logout-btn>

        <div class="case-description w-100 my-2 p-4">
            <h2>Case description</h2>
            <p>Cordially convinced did incommode existence put out suffering certainly. Besides another and saw ferrars
                limited ten say unknown. On at tolerably depending do perceived. Luckily eat joy see own shyness
                minuter. So before remark at depart. Did son unreserved themselves indulgence its. Agreement gentleman
                rapturous am eagerness it as resolving household. Direct wicket little of talked lasted formed or it.
                Sweetness consulted may prevailed for bed out sincerity. </p>
        </div>
        <div class="Resolution case-description w-100 my-2 p-4">
            <h2>Resolution</h2>
            <p>Cordially convinced did  </p>
        </div>
    </div>

</div>