<div class="container">
    <div class="row">
        <div class="issue-container d-flex col-md-4"><div class="issue">N°162 <br> 21/08/20</div>   </div>
        <div class="col-md-4"><span class="title">Submit Issue</span></div>
        <div class="col-md-4"><app-logout-btn></app-logout-btn></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="textholder">
                <span>Case description: </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore omnis amet repellendus, aliquam eaque doloremque placeat quia a molestiae facere temporibus error molestias nemo? Corporis architecto numquam placeat nemo debitis.
                </p>
            </div>
        </div>
        <a class="py-2">Submit Issue</a><br>
    </div>
</div>