:host{
    width: 100%;
    padding: 20px;
}

.favorites{
    font-weight: 800;
    font-size: 32px;
    margin-top: 50%;
display: block;
color: #004AAD;
}

.colums{
    text-align: center;
    margin-top: 30px;
    background-color: #fff;
}