.container{
    display: flex;
    background-color: rgb(236,248,255);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:10%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    form:first-child{
        border-right: 1px solid grey;
    }
    form{
        
        width:100%;
        .submitButton, .submitLoginButton{
            margin-top:10px;
        }
        .submitLoginButton{
            margin-top: 36px;
        }
    }
}