<div class="container">
    <form [formGroup]='loginForm'>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName='username'>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName='password'>
        </mat-form-field><br>
        
        <button routerLink='menu' routerLinkActive="active" class='submitLoginButton' mat-raised-button (Click)='loginSubmit()'>Sign in</button>
    </form>
    <form [formGroup]='registrationForm' (ngSubmit)='registrationSubmit'>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName='username'>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName='password'>
        </mat-form-field><br>
        <mat-slide-toggle [color]="'primary'" formControlName='therapist'>Therapist</mat-slide-toggle><br>
        <button  class='submitButton' mat-raised-button (Click)='registrationSubmit()'>Sign up</button>
    </form>
</div>

