/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(237,240,242);
    padding: 10%;
    height: auto !important;
    

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
