/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(237,240,242) !important;
    padding: 10% !important;
    height: auto !important;
    

}
body { margin: 0 !important; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
